<!doctype html>
<html>
<head>
    <title>Timebox</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel = "stylesheet" type = "text/css" href = "../../dist/styles.css" >
  </head>
<body>
<div class="container">