<!doctype html>
<html>
<head>
    <title>Time Box</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
    <link rel = "stylesheet"
    type = "text/css"
    href = "dist/styles.css" />
  </head>
<body>
<div class="container">