<% include head.ejs%>

    <div id='root' style='text-align: center; margin-top: 20vh'>
      <img class="ui centered huge image" src="/assets/logo.png">
      <a href='login'>
        <button class="ui grey basic button">Login</button>
      </a>
    </div>

<% include foot.ejs%>